* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 1.5;
  color: #333;
  background-color: linen;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  color: black;
  line-height: 2.5;
}

.navbar {
  background-color: black;
  color: #fff;
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: #ddd;
}

button {
  padding: 3px 5px;
  margin: 3px 5px;
  font-size: medium;
  font-weight: bold;
  background-color: lightgray;
}

button:hover {
  color: white;
  background-color: lightslategray;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

td,
th {
  border: 1px solid lightslategray;
  text-align: bottom;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.box {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.shape {
  width: 100px;
  height: 100px;
  background-color: red; 
  transition: background-color 0.5s; 
}

.shape:hover {
  animation: colorChange 3s infinite; 
}

@keyframes colorChange {
  0% { background-color: red; } 
  12.5% { background-color: orange; } 
  25% { background-color: yellow; } 
  37.5% { background-color: green; } 
  50% { background-color: blue; } 
  62.5% { background-color: indigo; }
  75% { background-color: purple; } 
  87.5% { background-color: red; } 
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.box {
  margin-bottom: 20px;
}

.main {
  margin-bottom: 20px;
}